<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Transaction</title>
</head>
<body>
	<div align="center">
		<h1>Edit Transaction</h1>
		<br />
		<form action="#" th:action="@{/savet}" th:object="${transaction}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Transaction ID:</td>
					<td><input type="text" th:field="*{tid}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>ACNo:</td>
					<td><input type="text" th:field="*{acno}" /></td>
				</tr>
				<tr>
					<td>Transaction Name</td>
					<td><input type="text" th:field="*{tname}" /></td>
				</tr>
				<tr>
					<td>Branch</td>
					<td><input type="text" th:field="*{branch}" /></td>
				</tr>
				<tr>
					<td>Amount</td>
					<td><input type="text" th:field="*{amount}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>