<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit AccountDetail</title>
</head>
<body>
	<div align="center">
		<h1>Edit AccountDetail</h1>
		<br />
		<form action="#" th:action="@{/saveacc}" th:object="${accountdetail}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>				
					<td>AccountDetail CID:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>			
				<tr>				
					<td>AccountDetail CName:</td>
					<td>
						<input type="text" th:field="*{cname}" />
					</td>
				</tr>
				<tr>
					<td>AccountDetail AccountNumber:</td>
					<td><input type="text" th:field="*{accountno}" /></td>
				</tr>
				<tr>
					<td>AccountDetail AccountType:</td>
					<td><input type="text" th:field="*{accounttype}" /></td>
				</tr>
				<tr>
					<td>AccountDetail IFSCCode:</td>
					<td><input type="text" th:field="*{ifsccode}" /></td>
				</tr>
												
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>