<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Customer Manager</title>
</head>
<body>
<div align="center">
    <h1>Customer List</h1>
    <a href="newcus">Create New Customer</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Occupation</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${listCustomers}">
            	<td th:text="${customer.cid}">Customer ID</td>
                <td th:text="${customer.cname}">Name</td>
                <td th:text="${customer.clocation}">Location</td>
                <td th:text="${customer.coccupation}">Occupation</td>
                <td th:text="${customer.cphno}">Phone Number</td>
                <td>
                	<a th:href="@{'/editcus/' + ${customer.cid}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/deletecus/' + ${customer.cid}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>