<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Withdrawal</title>
</head>
<body>
	<div align="center">
		<h1>Create New Withdrawal</h1>
		<br />
		<form action="#" th:action="@{/savew}" th:object="${withdrawal}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>ACC NO:</td>
					<td><input type="text" th:field="*{waccno}" /></td>
				</tr>
				<tr>
					<td>Acc Holder Name:</td>
					<td><input type="text" th:field="*{waccholdername}" /></td>
				</tr>
				<tr>
					<td>Ifsc Code</td>
					<td><input type="text" th:field="*{wifsccode}" /></td>
				</tr>
				<tr>
					<td>Amount to be Withdrawal</td>
					<td><input type="text" th:field="*{wamount}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>