<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Bank</title>
</head>
<body>
	<div align="center">
		<h1>Create New Bank</h1>
		<br />
		<form action="#" th:action="@{/saveon}" th:object="${bank}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Bank Name:</td>
					<td><input type="text" th:field="*{bname}" /></td>
				</tr>
				<tr>
					<td>Bank City:</td>
					<td><input type="text" th:field="*{bcity}" /></td>
				</tr>
				<tr>
					<td>Bankph:</td>
					<td><input type="text" th:field="*{bphone}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>