<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Withdrawal</title>
</head>
<body>
<div align="center">
    <h1>Withdrawal List</h1>
    <a href="newwithdrawalcus">Create New Withdrawal</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Acc No</th>
                <th>Ifsc Code</th>
                <th>Acc Holder Name</th>
                <th>Amount to be Withdrawal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="withdrawal : ${listWithdrawal}">
            	<td th:text="${withdrawal.waccno}">Acc No</td>
                <td th:text="${withdrawal.wifsccode}">Ifsc Code</td>
                <td th:text="${withdrawal.waccholdername}">Acc Holder Name</td>
                <td th:text="${withdrawal.wamount}">Amount to be Withdrawal</td>
               
                <td>
                	<a th:href="@{'/editw/' + ${withdrawal.wid}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/deletew/' + ${withdrawal.wid}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>